@import "variables";

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(7, 100px);
  grid-gap: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -350px;
}

.calendar div {
  width: 100px;
  height: 100px;
  background-color: $cell-color;
  border: 1px solid $border-color;
  box-sizing: border-box;
  font-family: "Arial", serif;
  font-size: 30px;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
    transform: translateY(-20px);
    transition-duration: 0.5s;
  }
}

.calendar-30 div:last-child {
  display: none;
}

@for $i from 1 through 31 {
  .calendar div {
    content: "#{$i}";
  }
}

@for $i from 30 through 31 {
  .calendar-29 div:nth-of-type(#{$i}) {
    display: none;
  }
}

@for $i from 29 through 31 {
  .calendar-28 div:nth-of-type(#{$i}) {
    display: none;
  }
}

$calendar__days:(tue, wed, thu, fri, sat, sun);
@for $i from 2 through 7 {
   @each $days in $calendar__days {
     .calendar-#{$days} {
       grid-column-start: #{$i}
     };
  }  
}

.calendar-tue div:first-child {
  grid-column-start: 2;
}

.calendar-wed div:first-child {
  grid-column-start: 3;
}

.calendar-thu div:first-child {
  grid-column-start: 4;
}

.calendar-fri div:first-child {
  grid-column-start: 5;
}

.calendar-sat div:first-child {
  grid-column-start: 6;
}

.calendar-sun div:first-child {
  grid-column-start: 7;
}
